.hamburguer{
    display: none;
  }
@media (max-width:830px ){
    .Nav{
        width: 100%;
        display: flex;
        background-color: aliceblue;
        /* padding: 1% 0; */
    }

    .hamburguer {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 1.5%;
        right: 2%;
    }
    .hamburguer .line{        
        width: 30px;
        height: 3px;
        margin: 6px 0;
        background: var(--primary-color);
    }

    .Nav-btns-cont{
        position: absolute;
        display: block;
        max-height: 0px;        
        top: 60px;
        left: 0 ;
        right: 0;
        width: 100%;
        background-color:var(--green-1);
        transition: 0.5s;
        overflow: hidden;
        z-index: 111111;
    }

    .Nav-btns-cont.active{        
        max-height: 600px;
        height: auto;
    }

    .Nav-btns{
        display: block;
        width: max-content;
        margin: 20px auto 0 auto;
    }
    
    .Nav-left-cont{
        display: none;
    }
}

@media (max-width:1200px){
    .Lateral-slider-content{
        top: 4%;
        left: 45%;
        aspect-ratio: 3/4;
        width: 60%;
        height: auto;     
    }
}

@media (max-width:1000px){
    .Nav-logo-cont{
        justify-content: center;
        max-width: 150px;
    }
   
    .Lateral-slider-content{
        top: 50%;
        left: 10%;
        aspect-ratio: 4/3;
        width: 80%;
        height: auto;     
    }
}

@media (max-width:930px){
    
    .Nav-left-cont p{
        display: none;
    }

    /* del slider de Services */
    .Lateral-slider-content{
        top: 50%;
        left: 10%;
        aspect-ratio: 4/3;
        width: 80%;
        height: auto;     
    }
}

@media (max-width:745px){
    .Lateral-slider-content{
        top: 50%;
        left: 10%;
        width: 80%;
        aspect-ratio: 4/3;
        height: auto;     
    }

    .slider-card:nth-child(3),
    .slider-card:nth-child(1)   
    {   
        min-width: 100px;
        width: 10%;
    }
}


@media (max-width:615px){
    .slider-card:nth-child(3),
    .slider-card:nth-child(1)   
    {   
        min-width: 60px;
        width: 10%;
    }

    /* Footer */

.Footer {
    padding-top: 25px;
}

.Nav-footer {
    flex-direction: column;
    border: none;
}

.Footer-logo {
    width:25%;
}

.Cont-3 {
    width: 100%;
    flex-direction: column;
    border: none;
    gap: 5%;
}

.Cards-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .9rem;
}

.Footer-rrss {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

}